@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

@import url("https://fonts.googleapis.com/css?family=Oleo+Script:400,700|Oxygen:300,400,700");

/*******************
GENERAL
*******************/

html {
  text-size-adjust: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  font: 16px 'Oxygen', sans-serif;
  background-image: url('https://subtlepatterns.com/patterns/footer_lodyas.png');
  color: #363636;
}

h1,
p {
  margin: 12px 0;
}

/*******************
HEADING
*******************/

header .logo :link,
header .logo :visited,
header .logo :focus,
header .logo :hover,
header .logo :active {
  text-decoration: none;
  color: #363636;
  cursor: pointer;
}

header div.intro {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 100px;
}

header img {
  width: 300px;
  height: 300px;
  border-radius: 100%;
}

header h1 {
  font-family: 'Oleo Script', cursive;
  font-weight: 400;
  font-size: 2em;
  border-radius: 5px;
  height: 65%;
  width: 355px;
  padding: 20px;
  margin: 0 25px;
}

header h1 p {
  font: 16px 'Oxygen', sans-serif;
}

/*******************
PORTFOLIO
*******************/

/*******************
BLOG POST
*******************/

/*******************
FOOTER
*******************/

footer {
  color: white;
  margin: 50px 50px 20px;
  z-index: 1;
}

footer .contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .copyright {
  font-size: 0.75em;
}

footer li {
  list-style: none;
}

footer h1 {
  font-weight: normal;
  font-size: 1.5em;
}

/*******************
SOCIAL ICONS
*******************/

footer .social-icons a:link,
a:visited {
  text-decoration: none;
  color: white;
}

footer div ul.social-icons {
  font-size: 1em;
  display: flex;
  justify-content: center;
  padding-left: 0;
  padding-bottom: 45px;
  margin-top: 10px;
}

.fa-twitter,
.fa-github,
.fa-medium,
.fa-linkedin,
.fa-3x {
  display: block;
  width: 1.7em;
  height: 1.6em;
  padding: 10px;
  border-radius: 50%;
  margin: 5px;
  text-align: center;
}

.fa-twitter {
  background: #0075db;
}

.fa-github {
  background: #777;
}

.fa-medium {
  background: #00ab6b;
}

.fa-linkedin {
  background: #4875b4;
}

.fa-heart,
.fa-1 {
  color: red;
}
